# FastAPI Backend
FastAPI
uvicorn
pydantic
python-multipart
httpx
requests
loguru

# Core DSP / Audio
numpy
scipy
soundfile
PyWavelets
scikit-learn
librosa

# Utilities / Development
tqdm
filelock
pyyaml
jinja2
fsspec